langchain
langchain-core
langchain-community
langchain-huggingface
pypdf
pymupdf
sentence-transformers
faiss-cpu
langchain-groq
python-dotenv
langgraph
langchain-text-splitters
fastapi
uvicorn[standard]
pydantic
pydantic-settings
streamlit
requests
pytest
